<!DOCTYPE html>
<html>
<head>
	<title> Javascript Login </title>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="login-page">
		<div class="form">
			<form class="register-form" action="/signup" method="POST">
				<input type="text" placeholder="Enter your Username" name="username" id="username" required />
				<input type="password" placeholder="Enter your password" name="pword" id="pword" required />
				<input type="text" placeholder="Enter you E-mail ID" name="email" id = "email" required />
				<button type="submit">Create Account</button>
				<p class="message">Already a member? <a href="/">Login</a>
				</p>
			</form>			
		</div>
	</div>
		
</body>