<!DOCTYPE html>
<html>
<head>
	<title> Javascript Login </title>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="login-page">
		<div class="form">
			<h2>Welcome</h2>
			<img src="/assets/profile.jpg">
			<h3><%= nameuser %></h3>
			</form>
		</div>
	</div>
	
</body>